*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(to right,#f1f8f4,#e8f5e9);
}

header{
background: linear-gradient(135deg,#2c7a4b,#1b5e20);
color:white;
padding:15px;
text-align:center;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

nav a:hover{
color:#c8facc;
}

.hero{
text-align:center;
padding:70px 20px;
background: linear-gradient(to right, #e8f5e9, #d0f0d6);
}

.hero h2{
font-size:32px;
margin-bottom:10px;
color:#1b5e20;
}

.hero p{
font-size:16px;
margin-bottom:20px;
}

button{
padding:10px 18px;
background: linear-gradient(135deg, #2c7a4b, #43a047);
color:white;
border:none;
cursor:pointer;
border-radius:8px;
transition:0.3s;
font-weight:bold;
}

button:hover{
transform:scale(1.05);
box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

.features{
display:flex;
justify-content:center;
gap:25px;
padding:40px;
flex-wrap:wrap;
}

.feature-box{
background:white;
padding:25px;
border-radius:15px;
width:250px;
box-shadow:0 6px 15px rgba(0,0,0,0.1);
text-align:center;
transition:0.3s;
}

.feature-box:hover{
transform:translateY(-8px);
}

.how{
text-align:center;
padding:40px;
background:#dff3e3;
}

.how ol{
max-width:400px;
margin:auto;
text-align:left;
line-height:1.8;
}

.card{
background:white;
padding:18px;
margin:20px;
border-radius:15px;
box-shadow:0 6px 18px rgba(0,0,0,0.1);
transition:0.3s;
max-width:320px;
display:inline-block;
vertical-align:top;
}

.card:hover{
transform:scale(1.04);
}

.form-section{
max-width:500px;
margin:40px auto;
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 6px 18px rgba(0,0,0,0.1);
}

textarea,
input,
select{
width:100%;
margin:10px 0;
padding:12px;
border-radius:6px;
border:1px solid #ccc;
outline:none;
transition:0.3s;
}

input:focus,
textarea:focus{
border-color:#2c7a4b;
box-shadow:0 0 5px rgba(44,122,75,0.3);
}

.login-box{
width:320px;
margin:120px auto;
background:white;
padding:25px;
text-align:center;
border-radius:15px;
box-shadow:0 6px 18px rgba(0,0,0,0.1);
}

.about{
padding:25px;
max-width:650px;
margin:40px auto;
background:white;
border-radius:15px;
box-shadow:0 6px 18px rgba(0,0,0,0.1);
line-height:1.6;
}

#approvedProjects,
#pendingList{
text-align:center;
}

footer{
text-align:center;
padding:15px;
background:#1b5e20;
color:white;
margin-top:30px;
}